
    <header id="header">
        <div>
            <img src="./assets/img/Home/Header/logo + nombre.png">
        </div>
        <nav>
            <ul id="menu">
                <li class="menu-item">
                    <a href="/">Inicio</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="nosotros.html">Nosotros</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="#services">Servicios</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="proyectos.html">Proyectos</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="#testimony">Testimonios</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="#footer">Contactanos</a>
                    <div class="animate-countrol"></div>
                </li>

                <i id="pull" class="fas fa-bars"> </i>
            </ul>
        </nav>
    </header>
