<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOCA construcciones</title>

    <link rel="stylesheet" type="text/css" href="styles/about.css">
    <link rel="stylesheet" type="text/css" href="styles/header.css">
    <link rel="stylesheet" type="text/css" href="styles/footer.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/about.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/header.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/footer.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

</head>

<body>
      <!--Fin Cabecera-->
      {{> header}}
    <!--Menu mobile-->
    {{> mobile}}
    <!--Fin mobile nav bar-->

    <!--Cuerpo de Pagina-->
    <section id="about_page">
        <img id="wave" src="assets/img/Nosotros/banner.png" alt="banner">


        <div id="about-layout">
            <div class="about-row">
                <img src="assets/img/Nosotros/Engineer.png" width="422" height="307" alt="trabajador con casco">
                <div class="about-desc">
                    <h1>Somos JOCA</h1>
                    <p>
                        JOCA fue Fundada el xx de xx de xxxx.<br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas nulla viverra tincidunt
                        nibh suspendisse sed.
                    </p>
                </div>
            </div>

            <div class="about-row">
                <img src="assets/img/Nosotros/undraw_under_construction_46pa(1) 1.png" width="448" height="307">
                <div class="about-desc">
                    <h1>Nuestra Mision</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas nulla viverra tincidunt
                        nibh suspendisse sed, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas
                        nulla viverra tincidunt
                        nibh suspendisse sed.
                    </p>
                </div>
            </div>

            <div class="about-row">
                <img src="assets/img/Nosotros/undraw_nature_m5ll 1.png" width="336" height="363">
                <div class="about-desc">
                    <h1>Nuestra Visión</h1>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas nulla viverra tincidunt
                        nibh suspendisse sed, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas
                        nulla viverra tincidunt
                        nibh suspendisse sed.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--fin cuerpo-->

    {{> footer}}
    
    <script src="js/scroll.js"></script>
    <script src="https://kit.fontawesome.com/d4313e3373.js" crossorigin="anonymous"></script>
</body>

</html>