<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOCA construcciones</title>
    <link rel="stylesheet" type="text/css" href="styles/projects.css">
    <link rel="stylesheet" type="text/css" href="styles/header.css">
    <link rel="stylesheet" type="text/css" href="styles/footer.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/projects.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/header.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <script src="js/projects.js"></script>

</head>

<body>
    <div id="main-container"> </div>
 
    <!--Fin Cabecera-->
      {{> header}}
    <!--Menu mobile-->
    {{> mobile}}
    <!--Fin mobile nav bar-->

    <!--Fin Cabecera-->

    <!--Cuerpo de Pagina-->
    <section id="projects-page">
        <img id="wave" src="assets/img/Proyectos/banner.png" alt="banner">


        <h1>Proyectos</h1>
        <p id="sub">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis expedita tenetur est nihil ipsa
            architecto odio magni, velit aspernatur impedit? Ea necessitatibus architecto consequuntur ratione facilis
            quia laudantium mollitia deleniti.
        </p>

        <section id="project-layout">

            <article id="1" class="project-card">

                <p class="project-type">Diseño residencial prediseñado</p>
                <p class="project-model">Modelo Comfort</p>
                <button>Ver mas</button>
                <div></div>
                <img src="assets/img/Proyectos/Modelo-Comfort.jpg">

            </article>

            <article id="2" class="project-card">
                <p class="project-type">Diseño residencial prediseñado</p>
                <p class="project-model">Modelo Diana</p>
                <button>Ver mas</button>
                <div></div>
                <img src="assets/img/Proyectos/Modelo-Diana.jpg">

            </article>

            <article id="3" class="project-card">
                <p class="project-type">Diseño residencial prediseñado</p>
                <p class="project-model">Modelo Hera</p>
                <button>Ver mas</button>
                <div></div>
                <img src="assets/img/Proyectos/Modelo-Hera.jpg">

            </article>


            <article id="4" class="project-card">
                <p class="project-type">Diseño residencial prediseñado</p>
                <p class="project-model">Modelo-Kali</p>
                <button>Ver mas</button>
                <div></div>
                <img src="assets/img/Proyectos/Modelo-Kali.jpg">

            </article>


            <article id="5" class="project-card">
                <p class="project-type">Diseño residencial prediseñado</>
                <p class="project-model">Modelo Madroño</p>
                <button>Ver mas</button>
                <div></div>
                <img src="assets/img/Proyectos/Modelo-Madroño.jpg">

            </article>

            <article id="6" class="project-card">
                <p class="project-type">Diseño residencial prediseñado</p>
                <p class="project-model">Modelo Spazio</p>
                <button>Ver mas</button>
                <div></div>
                <img src="assets/img/Proyectos/Modelo-Spazio.jpg">
            </article>

            <article id="7" class="project-card">
                <p class="project-type">Diseño residencial prediseñado</p>
                <p class="project-model">Modelo Victoria</p>
                <button>Ver mas</button>
                <div></div>
                <img src="assets/img/Proyectos/Modelo-Victoria-1.jpg">

            </article>


        </section>
    </section>
    <!--fin cuerpo-->

    {{> footer}}

    <script src="js/scroll.js"></script>
    <script src="https://kit.fontawesome.com/d4313e3373.js" crossorigin="anonymous"></script>
</body>

</html>