@media(max-width: 768px){
    #about_page #wave{
        padding-top: 0px;
    }


    .about-desc{
        width: 80%;
        margin-top: 20px;
    }

    .about-row:nth-child(2) img {
        order: 0;
    }

    .about-desc p {
        font-weight: 400;
        font-size: 20px;
    }

    .about-desc h1 {
        font-size: 28px;
    }

}

@media(max-width: 576px){
   .about-row img{
       width: 90%;
       height: 80%;
   }

   .about-row:nth-child(3) img {
    width: 336px;
    height: 363px;
}


   
}


@media(max-width: 350px){
    .about-row:nth-child(3) img {
        width: 80%;
        height: 70%;
    }
    
}