@media(max-width : 768px){

    #hero-inside{
        width: 80%;
    }

    #hero-inside div h1{
        font-size: 24px;
        width: 100%;
    }

    #services{
        padding-bottom: 60px;
    }

    #testimony{
        padding-bottom: 60px;
    }
     
}

@media(max-width : 450px){
    #hero-inside #logo{
        width:  70%;
        height:  60%;
    }

    #hero-inside div h1{
        font-size: 18px;
        width: 100%;
    }
}