@media(max-width: 1066px){
    #project-layout{  
        grid-template-columns: repeat(auto-fill, 49%);
    }
}

@media(max-width: 768px){
    #projects-page #wave {
        padding-top: 0px;
    }

}

@media(max-width: 630px){
    #projects-page #sub {
        width: 80%;
        font-size: 14px;
    }

    #projects-page h1 {
        font-size: 28px;
    }

   
    
    #project-layout{  
        grid-template-columns: repeat(1, auto);
    }
}




@media(max-width: 350px){
 
  
}