<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOCA construcciones</title>
    <link rel="stylesheet" type="text/css" href="styles/project-detail.css">
    <link rel="stylesheet" type="text/css" href="styles/header.css">
    <link rel="stylesheet" type="text/css" href="styles/footer.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/header.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/footer.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive/project-detail.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <!--Cabecera-->
    <div id="main-container"></div>

        <header id="header">
            <div>
                <img src="./assets/img/Home/Header/logo + nombre.png">
            </div>
            <nav>
                <ul id="menu">
                    <li class="menu-item">
                        <a href="index.html">Inicio</a>
                        <div class="animate-countrol"></div>
                    </li>
                    <li class="menu-item">
                        <a href="nosotros.html">Nosotros</a>
                        <div class="animate-countrol"></div>
                    </li>
                    <li class="menu-item">
                        <a href="#services">Servicios</a>
                        <div class="animate-countrol"></div>
                    </li>
                    <li class="menu-item">
                        <a href="proyectos.html">Proyectos</a>
                        <div class="animate-countrol"></div>
                    </li>
                    <li class="menu-item">
                        <a href="#">Testimonios</a>
                        <div class="animate-countrol"></div>
                    </li>
                    <li class="menu-item">
                        <a href="#footer">Contactanos</a>
                        <div class="animate-countrol"></div>
                    </li>

                    <i id="pull" class="fas fa-bars" > </i>

                </ul>
            </nav>
        </header>
        <!--Fin Cabecera-->

         <!--Menu mobile-->
         <nav id="nav">
            <ul id="nav-list">
                <li class="menu-item">
                    <a href="index.html">Inicio</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="nosotros.html">Nosotros</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="#services">Servicios</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="proyectos.html">Proyectos</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="#testimony">Testimonios</a>
                    <div class="animate-countrol"></div>
                </li>
                <li class="menu-item">
                    <a href="#footer">Contactanos</a>
                    <div class="animate-countrol"></div>
                </li>
            </ul>
        </nav>
        <!--Fin mobile nav bar-->

        <!--Cuerpo de Pagina-->
        <section id="detail-page">
            <div id="project-name">
                <h1></h1>
            </div>
            <div id="project-body">
                <div id="project-detail">
                    <h2>Detalles</h2>
                    <p><strong>Diseñador:</strong> <label id="arq">arq Jaime Cortez</label></p>
                    <p><strong>Tipo de servicio:</strong><label id="tipo"></label></p>
                    <p><strong>Acabados:</strong> <label id="acabados"></label></p>
                    <p><strong>Descripcion General:</strong><br><label id="desc"></label></p>
                    <p><strong>Area:</strong> <label id="area">135 m2</label></p>
                    <p><strong>Fecha de elaboracion:</strong> <label id="fecha"></label></p>
                    <a href="#footer"><button>Cotizar</button></a>
                </div>
                <div id="gallery">
                    <div id="principal-img">
                        <img>
                    </div>
                    <div id="sub-galery-layout">
                        <img >
                        <img >
                        <img >
                    </div>
                </div>
            </div>

            <div id="paginator">
                <div class="btn" id="left">
                    <div>
                        <label><strong>Ant.</strong></label><br>
                        <p id="ans"></p>
                    </div>
                    <img src="assets/img/Home/Testimonios/bxs-chevron-left.svg.png" width="60" height="60">
                </div>
                <div class="btn" id="right">
                    <img src="assets/img/Home/Testimonios/bxs-chevron-right.svg.png" width="60" height="60">
                    <div>
                        <label><strong>Sig.</strong></label><br>
                        <p id="next"></p>
                    </div>
                </div>
            </div>
        </section>
        <!--fin cuerpo-->



        <footer id="footer">
            <section id="footer-layout">
                <!--Formulario de contacto-->
                <div id="contact-layout">
                    <h1 class="footer-title">Escríbenos</h1>
                    <form id="contact-form" method="POST" onsubmit="">
    
                        <input type="text" maxlength="30" placeholder="Nombre" required pattern="[a-zA-Z ]{2,25}">
                        <input type="text" placeholder="Apellido" required pattern="[a-zA-Z ]{2,25}"><br>
                        <input type="email" placeholder="Email" required pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"  oninvalid="setCustomValidity('Inserte su email')">
                        <input type="text" placeholder="Numero" required pattern = "[0-9]{8}" oninvalid="setCustomValidity('Inserte un numero Valido')"><br>
                        <textarea placeholder="Escribe un comentario(opcional)"></textarea>
                              
                        <input type="submit" value="Enviar">
                    </form>
                </div>
                <!--Fin formulario de contacto-->

                <!--Donde estamos-->
                <div id="where-layout">
                    <h1 class="footer-title">¿Dónde Estamos?</h1>

                    <div id="where-sublayout">
                        <div id="info">
                            <div id="social">
                                <span><img src="assets/img/contactanos/facebook.png"></span>
                                <span><img src="assets/img/contactanos/Whatsapp.png"></span>
                            </div>

                            <div class="info-detail">
                                <span>Dirección</span>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit
                                    maiores.
                                </p>
                            </div>

                            <div class="info-detail">
                                <span>Telf</span>
                                <p>
                                    +505 22534103
                                </p>
                            </div>

                            <div class="info-detail">
                                <span>Email</span>
                                <p>
                                    joca_sa@joca.com.ni
                                </p>
                            </div>
                        </div>


                        <div id="map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7801.899863026869!2d-86.20643377758988!3d12.115578365685895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73fe93be608f75%3A0xedb98198e81c4061!2sVilla%20Libertad%2C%20Managua!5e0!3m2!1ses-419!2sni!4v1619753031832!5m2!1ses-419!2sni"
                                width="400" height="300" style="border:0;" allowfullscreen=""></iframe>
                        </div>

                    </div>
                </div>
            </section>
            <hr>
            <div id="copy">
                &copy;Copyright 2021 designed by Josué Campos
            </div>
        </footer>
    <script src="js/scroll.js"></script>
    <script type="module" type="text/javascript" src="js/project-detail.js"></script>
    <script src="https://kit.fontawesome.com/d4313e3373.js" crossorigin="anonymous"></script>
</body>

</html>