
/*Cabecera*/

#header{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #C2C2C2 0%, #D8D8D8 100%);
}

#header div{
    height: 100%;
    overflow: hidden;
}

#header div img{
    cursor: pointer;
}


#header nav{
    height: 100%;
    flex-basis: 50%;
    margin-left: auto;

}

#menu{
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 60px;
}

#menu li{
    display: flex;
    flex-flow: column ;
    height: 50%;
}

#menu  li a{
    font-family: 'Montserrat', sans-serif;
    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-decoration:  none;
    transition: all 300ms;
}

.animate-countrol{
    margin-top: 4px;
    background-color: #C6B2DF;
    max-height: 4px;
    width: 0%;
    transition: all 300ms;
}

#menu li a:hover{
    color: rgba(22, 25, 62, 0.9);
}

#menu li a:hover ~ .animate-countrol{
    width: 100%;
}
