*{
    margin: 0px;
    padding: 0px;
}


.fixed{
    position: fixed;
}

/*Hero Image*/
#hero-image{
    display: flex;
    padding-top: 60px;
    flex-direction: row;
    justify-content: center;
    background-image: url("../assets/img/Home/HERO IMG/desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
}

#hero-inside{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

#hero-inside #logo{
    margin: 0px auto;
    width: 200px;
    height: 220px;

}

#hero-inside div h1{
    color: #E8E8E8;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

#hero-inside div p{
    color: #E8E8E8;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}


/*Servicios*/
#services{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    font-family: 'Montserrat',sans-serif;
}

.title{
     display: flex;
     flex-flow: column nowrap;
     width: 50%;
     text-align: center;
     margin: 0px auto;
     margin-top: 40px;
}

.title h1{
    color: rgba(22, 25, 62, 0.9);
    font-size: 32px;
}

.title p{
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

 #service-layout{
   display: flex;
   width: 90%;
   justify-content: space-between;
   align-items: center;
   margin: 0px auto;
   margin-top: 70px;
 }

.service-card{
     display: flex;
     flex-direction: column;
     height: 310px;
     width: 340px;
     justify-content: flex-start;
     align-items: center;
     background: linear-gradient(180deg, #FFFFFF 0%, #E8E8E8 100%);
     border-radius: 18px;
     padding: 10px;
     box-sizing: content-box;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
 }

 .service-card img{
     justify-self: flex-start;
     width: 79px;
     height: 79px;
     margin-top: 30px;
 }

 .service-card h3{
     color:rgba(52, 56, 111, 1); 
     text-align: center;
     margin-top: 15px;
 }

 .service-card p{
    text-align: center;
    margin-top: 10px;
 }

 /*Testimonios*/

 #testimony{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    background: #CED7E7;
    font-family: 'Montserrat',sans-serif;
 }

 #testimony-layout{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;
    justify-content: space-evenly;
}

/*cartas de los testimonios*/

.testimony-card{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba( 244, 238, 238, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 18px;
    padding: 18px;
    box-sizing: border-box;
}

.testimony-card img{
    width: 200px;
    height: 200px;
    border-radius: 999px;
}

.testimony-card p{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}

.testimony-card h3{
    margin-top: 10px;
   text-align: center;
   color: rgba(52, 56, 111, 1);
}














